apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-kvname-secrets
  namespace: surge-{{ lookup('env', 'environment') }}
spec:
  provider: azure
  parameters:
    usePodIdentity: "true"
    keyvaultName: {{ lookup('env', 'keyvault_name') }}
    objects: |
      array:
        - |
          objectName: {{ lookup('env', 'secret1_name') }}
          objectType: secret
        - |
          objectName: {{ lookup('env', 'secret2_name') }}
          objectType: secret
        - |
          objectName: {{ lookup('env', 'secret3_name') }}
          objectType: secret
    tenantId: {{ lookup('env', 'tenant_id') }}
